h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: royalblue;
    margin-bottom: 20px;
    }

table {
    margin: 0 auto;
    }
  
  th {
    background-color: royalblue;
    color: rgb(53, 53, 53);
    font-size: 18px;
    }
  
  td {
    text-align: center;
    font-size: 16px;
    }
  
  #employeeList {
    width: 80%;
    margin: 0 auto;
    }
  
  form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 20px;

    }
  
  form input[type="text"], form input[type="number"] {
    margin-right: 10px;
    padding: 5px;
    font-size: 18px;
    width: 200px;
    }

  button[type="button"] {

    background-color: royalblue;
    color: rgb(53, 53, 53);
    padding: 10px 20px;
    font-size: 18px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    }

  body {
    background-color: #EEA47FFF;
    }

